body {
    padding: 0;
    margin: 0;
}

#authorinfo {
    position: absolute;
    top: 120px;
    left: 5px;
    width: 300px;
}

#content {
    margin-left: 310px;
}

#header {
    height: 100px;
    text-align: center;
}