* {
    padding: 0px;
    margin: 0px;;
}

body {
    background-color: #cccccc;
}

ul {
    list-style: none;
}

ul li {
    background-color: #cccc99;
    margin: 5px;
    padding: 3px 0 0 10px;
    border-bottom: 3px solid #000000;
    border-left: 10px solid #cc3333;
}