/*Importing already made styles
@import url("styles.css");*/

/*styles based on tags, overrides what might imported*/
div p {
    background-color: grey;
}

#content {
    background-color: fuchsia;
}

p {
    background-color: green;
    font-size: 2em;
}